# Ignorar node_modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env
.env.local

# Carpetas de sistema
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Archivos temporales
*.tmp
*.temp

# Datos de Docker
ubuntu-data/
shared/*
!shared/.gitkeep
